.auth-bg {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* overlay */
.auth-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}

/* login box */
.auth-box {
  position: relative;
  background: white;
  padding: 40px;
  width: 360px;
  border-radius: 8px;
  z-index: 1;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
}

.auth-box h2 {
  text-align: center;
  margin-bottom: 25px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.auth-btn {
  width: 100%;
  padding: 12px;
  background: #0a58ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.switch-text {
  text-align: center;
  margin-top: 15px;
}

.switch-text span {
  color: #0a58ff;
  cursor: pointer;
  font-weight: 500;
}
