.footer {
  background: linear-gradient(
    to top,
    #01012f,
    #020617,
    #829fe9
  );
  color: #e5e7eb;
  padding-top: 80px;
  margin-top: 80px;
}

/* GRID */
.footer-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  gap: 50px;
  padding: 0 80px 60px;
}

/* BRAND */
.footer-brand h2 {
  color: #facc15;
  margin-bottom: 15px;
}

.footer-brand p {
  font-size: 14px;
  line-height: 1.6;
  color: #9ca3af;
}

/* LINKS */
.footer-links h4 {
  margin-bottom: 15px;
  font-size: 16px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 10px;
  font-size: 14px;
  cursor: pointer;
  color: #9ca3af;
}

.footer-links ul li:hover {
  color: #facc15;
}

/* NEWSLETTER */
.footer-newsletter h4 {
  margin-bottom: 12px;
}

.footer-newsletter p {
  font-size: 14px;
  color: #9ca3af;
  margin-bottom: 15px;
}

.newsletter-box {
  display: flex;
  gap: 10px;
}

.newsletter-box input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.newsletter-box button {
  padding: 10px 18px;
  background: #facc15;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

/* BOTTOM */
.footer-bottom {
  text-align: center;
  padding: 20px;
  font-size: 13px;
  color: #9ca3af;
  border-top: 1px solid rgba(255,255,255,0.08);
}
